<img src="../../assets/nick-and-katie.jpg" alt="">
<div class="about-container">
  <h1 mat-dialog-title>Meet the Flynns</h1>
  <div mat-dialog-content>
    <p>We're the Flynns and we like to travel -- like every other person. We just have a big map!</p>
    <p><strong>Total Destinations: </strong>{{destinations.length}}</p>
    <p><strong>Favorite Trip: </strong>Oregon Coast (2016)</p>
    <p><strong>Years Adventuring: </strong>{{destinations[destinations.length-1].year - destinations[0].year + 1}}</p>
  </div>
</div>