$full-width: 500px;
$phone-lg-width: 250px;
$phone-sm-width: 200px;

.about-container {
    img {
        width: $full-width;
    }

    > div {
        max-width: $full-width;
        
        h1 {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
}

@media screen and (max-width: 480px) {
    .about-container {
        img {
            width: $phone-lg-width;
        }
    
        > div {
            max-width: $phone-lg-width;
        }
    }
}

@media screen and (max-width: 370px) {
    .about-container {
        img {
            width: $phone-sm-width;
        }
    
        > div {
            max-width: $phone-sm-width;
        }
    }
}