.logo-container {
    position: fixed;
    margin: 0px auto;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, 0.2));
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));

    img {
        width: 240px;
        padding-top: 20px;
    }
    
    .style-toggle-container {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 110px;
        height: 40px;
        color: white;
        display: inline-block;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }

        div {
            float: left;
        }

        .icon {
            width: 37px;
            margin-top: -6px;
        }
        
        i-sun, i-moon {
            svg {
                width: 20 !important;
            }
        }
    }
}

.controls-container {
    position: fixed;
    margin: 0px auto;
    left: 40px;
    right: 40px;
    bottom: 15px;
    z-index: 1;
    text-align: center;

    button {
        background-color: #e74c3c;
        color: #ffffff;
        padding: 10px;
        margin: 5px;
        border: none;
        border-radius: 25px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: #c0392b;
            cursor: pointer;
        }

        &:active, &:focus {
            outline: 0;
        }
    }
}

.map-container {
    height: 100%;
    width: 100%;
    border: 0;

    agm-map {
        height: 100%;
    }
}