<div class="logo-container">
  <img src="../../assets/logo.svg" alt="">
</div>

<div class="controls-container">
  <button type="button" (click)="openTripList()">
    <i-list class="icon"></i-list>
  </button>
  <!-- <button type="button" (click)="openTripList()">
    <i-bar-chart-2 class="icon"></i-bar-chart-2>
  </button> -->
</div>

<div class="map-container">
  <agm-map [latitude]="mapDetails.latitude" [longitude]="mapDetails.longitude" [zoom]="mapDetails.zoom" [styles]="stylesJson">
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>
  </agm-map>
</div>