<h2 mat-dialog-title>Trip List</h2>
<div class="list-container">
  <div class="trip-list-container">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="place">
          <mat-header-cell *matHeaderCellDef> Place </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.displayTitle}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
</div>
<!-- <mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions> -->